body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  background-color: #0d2f14;
  color: #ffb44e;
}
.contact-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  .form-container {
    width: 90%;
    @media screen and (min-width: $laptop) {
      width: 800px;
    }
  }
  form {
    display: flex;
    flex-direction: column;
    button[type='submit'] {
      height: 50px;
      border: solid 3px #fe322b;
      background-color: #ff5758;
    }
    input[type='text'], input[type='email'], textarea {
      margin-bottom: 10px;
      border: solid 1px black;
      width: 100%;
      padding: 5px;
      border-radius: 5px;
      background-color:#ffb44e;
    }
    textarea {
      resize: none;
      height: 150px;
      background-color: #ffb44e;
    }
    p {
      font-size: 1.2em;
      margin-bottom: 5px;
    }
  }
  
}